body {
    margin: 0;
    background-color: rgba(252, 252, 252, 0.788);
    width: 100%;
    height: 92em;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    overflow: hidden;
    height: inherit;
}

.navigation {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 11%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(217, 238, 202);
}


.title a {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 50px;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 4.5px;
    color: rgb(216, 171, 142);
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(208, 230, 193);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
}
  
.sidebar a {
    padding: 30px 10px 10px 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: rgb(223, 162, 139);
    display: inline-block;
    transition: 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.open-btn {
    font-size: 30px;
    cursor: pointer;
    margin-left: 4px;
    color: rgb(216, 171, 142);
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.close-btn {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: rgb(216, 171, 142);
}

.footer {
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 50px 0;
    padding-top: 30px;
    padding-bottom: 30px; 
    border-top: 2px solid rgba(87,87,87,.26); 
    color: rgba(87, 87, 87, 0.646);
}

.footer span {
    padding: 5px;
}

.icon-list {
    text-align: center;
    margin: 0 auto;
    
}

#facebook, #instagram {
    margin: 15px;
    padding:0;
    transform: scale(2.5);
}


#facebook {
    color: cornflowerblue;
}

#instagram {
    color: rgb(242, 134, 122);
}

.icon-list a {
    text-decoration: none;
}
